{% extends 'car_accounting/base.html' %}


{% block content %}
<h1>{{ title }}</h1>

<form action="{% url 'statistics' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Найти</button>
</form>

<br style="width: 100%;">


{% if count %}
    {% if count|length_is:1 %}
        <p>Found {{ count }} record</p>
    {% else %}
        <p>Found {{ count }} records</p>
    {% endif %}
{% endif %}

<table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Reg_num</th>
                <th>Mark</th>
                <th>Model</th>
                <th>Release year</th>
                <th>Re-registration</th>
                <th>Create at</th>
                <th>Update at</th>
                <th>Employer</th>
            </tr>
        </thead>
        <tbody>
            {% for car in result %}
                <tr>
                    <td>{{ car.id }}</td>
                    <td>{{ car.reg_num }}</td>
                    <td>{{ car.mark_id }}</td>
                    <td>{{ car.model_id}}</td>
                    <td>{{ car.release_year}}</td>
                    <td>{{ car.re_registration}}</td>
                    <td>{{ car.create_at}}</td>
                    <td>{{ car.update_at}}</td>
                    <td>{{ car.owner_id}}</td>
                </tr>
            {% endfor %}
        </tbody>
</table>
        {% if result|length_is:0 %}
        <p>Nothing...</p>
        {% endif %}
{% endblock %}